apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: backend
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/RiteshKaushal57/Devops-Projects.git
    targetRevision: main
    path: ArgoCD/app-of-apps/backend
  destination:
    server: https://kubernetes.default.svc
    namespace: backend
  syncPolicy:
  automated:
    prune: true
    selfHeal: true
  syncOptions:
    - CreateNamespace=true

