apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: three-tier-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      # Init container to wait for MongoDB to be ready
      initContainers:
      - name: wait-for-mongo
        image: busybox
        command:
          - sh
          - -c
          - |
            echo "Waiting for MongoDB..."
            until nc -z mongo 27017; do
              echo "MongoDB is not ready, sleeping 2 seconds..."
              sleep 2
            done
            echo "MongoDB is ready!"

      containers:
      - name: backend
        image: 467680962369.dkr.ecr.us-east-1.amazonaws.com/three-tier-backend:latest
        ports:
        - containerPort: 5000
        env:
        - name: MONGO_URL
          value: mongodb://root:example@mongo:27017/usersdb?authSource=admin
        readinessProbe:
          tcpSocket:
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: three-tier-app
spec:
  selector:
    app: backend
  ports:
    - port: 5000
      targetPort: 5000
  type: ClusterIP
